# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Streamlit
.streamlit/secrets.toml
streamlit_log.txt
streamlit_out.txt
streamlit_err.txt

# Environment
.env
.venv
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
